.Rproj.user
.Rhistory
.RData
.Ruserdata
internal/
drafts/
RData/
subset_buzzard_db.R
*.inp
*.out
*.res
*.vcv
*.tmp
*.tiff
data/results*
*models.adj.2020*
*models.2020*
*cml*
*data/2020-10*
*supported.models.2020*
data/resighting_data.csv 
data/ringing_data.csv