.Rproj.user
.Rhistory
.Ruserdata
*.inp
*.out
#*.RData
*.res
*.tiff
*.tmp
*.vcv
*cml*
*RELEASE*
*.RDS
#data/resighting_data.csv 
#data/ringing_data.csv
drafts/
DWDdata/
internal/
#RData/
#R/subset_buzzard_db.R
R/outdated_files
#sample.sizes.csv
data/outdated_files
.RData
results.barker*
models.barker.adj.RDS
01_R_code_cache
01_R_code_files
02_R_code_cache
02_R_code_files
03_R_code_cache
03_R_code_files
plots/Old_files